<%= form_for @trading_party do |f| %>

	<div class="table-field">
	<table>
	
	<tr>
		<th><b>Item name</th>
		<th><b>Weight</th>
		<th><b>Price</th>
		<th><b>Quantity</th>
	</tr>
	
	<% @arr.each do |item| %>
	<tr>
			<td><%= label(:nam, item.name) %></td>
			<td><%= label(:weight, item.weight) %></td>
			<td><%= label(:value, item.value) %></td>
			<td><%= text_field(:quantity, :size=>5) %></td>
	</tr>
	<% end %>	
	
	</table>
	</div>
	
	<br><br><br>
	
	<div class="table-field">
	<table cellspacing="20">
	
	<tr>
		<td>
			
			<%= f.label("Current Capacity:") %>
			<%= f.label(:capacity, @traveling_party.get_capacity) %>
		</td>
		<td>
			<%= f.submit 'Purchase Items', :action=>"modify" %>
		</td>
	</tr>
	
	<tr>
		<td>
			<%= f.label("Current Money:") %>
			<%= f.label(:money, @traveling_party.get_money) %>
		</td>
		<td>
			<%= f.submit 'Continue', :action=>"continue"%>
		</td>
	</tr>
	
	</table>
	</div>
<% end %>
